.mynav{
    background-color: #09080bc9 !important;
   
}
.secnavul{
    display: flex;
    justify-content: flex-start;
    
}
.innernav{
    padding:.2rem .7rem ;
}
.innernav a{
    text-decoration: none;
    color:white;
    font-size: 1.5vw;
}

.imgnav{
    align-content: flex-end;
    width:5rem;
}
.leftlist li{
    list-style-type: none;
    font-size:.7rem ;
}
.checked{
    color:rgb(197, 174, 0);
  
}

.fa{
    cursor:pointer !important;
}
